* {
    //outline: solid red;
}

h1 {
    color: blue;
}

a {
    color: blueviolet;
    font-size: 50px;
}

.card {
    text-align: center;
    outline: solid rgb(255, 0, 0);
    margin: auto 400px;
    border: 10px solid rgb(140, 140, 140);
    padding: 28px 32px;
}

img {
    height: 350px;
    width: 400px;
    box-shadow: 5px 5px rgb(78, 78, 78);
}

ul {
    color: brown;
    display: block;
}

.descriptions {
    color: red;
}

.ingredients {
    color: pink;
}
.directions {
    color: blue;
}